# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- Deploy

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '131363e0-a565-447e-a820-f07e702364da'
  imageRepository: 'backend'
  containerRegistry: 'drgistry.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'
  imagePullSecret: 'drgistry11604e7e-auth'



# stages:
#   - stage: Command
#     displayName: Commmand
#     jobs:
#     - job: Command
#       displayName: Command
#       pool:
#         name: D-Agent-Pool
#       steps:
#       - task: Bash@3
#         inputs:
#           targetType: 'inline'
#           script: |
#             # Write your commands here

#             echo $(Pipeline.Workspace)
#             echo $(imagePullSecret)


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: D-Agent-Pool
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

    - upload: manifests
      artifact: manifests

- stage: Deploy
  displayName: Deploy stage
  # dependsOn: Build

  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      name: D-Agent-Pool
    environment: 'atharrvvFlaskAPPCICDPOC-1956.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/k8s/database/secrets.yaml
                $(Pipeline.Workspace)/k8s/database/pvc.yaml
                $(Pipeline.Workspace)/k8s/database/pv.yaml
                $(Pipeline.Workspace)/k8s/database/deployment.yaml
                $(Pipeline.Workspace)/k8s/database/service.yaml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)

