# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker



trigger:
- main

resources:
- repo: self

variables:
  tag1: '$(Build.BuildId)'
  tag2: '$(Build.BuildId)'
  imageBackendName: 'backend'
  imageFrontendName: 'frontend'
  latestTag: 'latest'

stages:
- stage: BakcendBuild
  displayName: Backend Build Image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: D-Agent-Pool
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/api/Dockerfile'
        repository: $(imageBackendName)
        tags: |
          $(tag1)

- stage: FrontendBuild
  displayName: Frontend Build Image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: D-Agent-Pool
    steps:
    - task: Docker@2
      displayName: Build an Frontend image
      inputs:
        command: build
        Dockerfile: '$(Build.SourcesDirectory)/app/Dockerfile'
        repository: '$(nameFrontendImage)'
        tags: |
          $(tag2)