apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.pvc.name }}
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - {{ .Values.access }}
  storageClassName: ""
  resources:
    requests:
      storage: {{ .Values.pvc.storage }}
